# yaml-language-server: $schema=../../config.schema.json
local:
  host: ''
  port: 8080
proxy:
  scheme: http
  host: localhost
  port: 5984
  headers:
    user:
      name: X-Vouch-User
      anonymous: false
    roles:
      name: X-Vouch-Roles
      default: []
    token:
      name: X-Vouch-Token
      secret: qm1nf4k8ZHzwf76XFZx4TObkx8E3L5eo
      algorithm: sha256
guard:
  token:
    # issuer: https://auth.example.com/
    # audience: couchdb
    # leeway: 60
    keys:
      static: /app/jwks.json
      # remote:
      #   endpoint: https://auth.example.com/.well-known/jwks.json
      #   interval: 60
  rules:
    - when: 'Claim("adm") == true'
      mode: allow
      user: 'Claim("sub") ?? ""'
      roles: '["_admin"]'
