*          text=auto
*.bat      text eol=crlf
*.env      text
*.go       text
*.json     text
*.md       text diff=markdown
*.png      binary
*.sh       text eol=lf
*.svg      text
*.yaml     text
*.yml      text
Dockerfile text
go.mod     text
go.sum     text
LICENSE    text
Makefile   text
