{{- if .Values.keys }}
{{-   if not (eq (kindOf .Values.token.keys.static) "slice") }}
{{-     fail "Error: token.keys.static must be a list of JWK objects" }}
{{-   end }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vouch.fullname" . }}-static-keys
type: Opaque
stringData:
  jwks.json: |-
    {{- (dict "keys" (.Values.token.keys.static | default (list))) | toJson }}
