apiVersion: v1
kind: ConfigMap
metadata:
  name: couchdb-config
  namespace: data
data:
  local.ini: |
    [couchdb]
    single_node = true

    [chttpd]
    port = 5984
    bind_address = 0.0.0.0
    authentication_handlers = {chttpd_auth, cookie_authentication_handler}, {chttpd_auth, proxy_authentication_handler}, {chttpd_auth, default_authentication_handler}
    require_valid_user_except_for_up = true

    [chttpd_auth]
    proxy_use_secret = true
    secret = qm1nf4k8ZHzwf76XFZx4TObkx8E3L5eo
    hash_algorithms = sha256
    x_auth_username = X-Vouch-User
    x_auth_roles = X-Vouch-Roles
    x_auth_token = X-Vouch-Token
