# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !).

# Git
.git/
.gitignore
.gitattributes

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# Misc
.DS_Store
.project
.settings
